<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.arna.testerApp">

    <uses-sdk
        tools:overrideLibrary="co.ronash.pushe" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/><!-- you can remove this permission -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name="com.arna.manager.services.AnswerRecvier">
            <intent-filter>
                <action android:name="com.arna.manager.services.Answer"/>
            </intent-filter>
        </receiver>
        <service
            android:name="com.arna.communication.MyGcmListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name="com.arna.communication.MyInstanceIDListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name="com.arna.communication.RegistrationIntentService"
            android:exported="false">
        </service>

        <receiver android:name="com.arna.communication.NetWorkConnectionChangeReciver">
            <intent-filter>
                <action android:name="android.net.wifi.STATE_CHANGE" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <receiver android:name="co.ronash.pushe.receiver.UpdateReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />

                <data
                    android:path="com.arna.testerApp"
                    android:scheme="package" />
            </intent-filter>
        </receiver>

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.arna.testerApp" />
            </intent-filter>
        </receiver>

        <meta-data android:name="co.ronash.pushe.token" android:value="PUSHE_298076258447"/>
        <meta-data android:name="co.ronash.pushe.cr" android:value="Tm9uZQ=="/>
        <service
            android:name=".MyPushListener"
            android:exported="false">
            <intent-filter>
                <action android:name="co.ronash.pushe.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name=".OneSignalReciver"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false">
            <intent-filter>
                <action android:name="com.onesignal.NotificationExtender" />
            </intent-filter>
        </service>
    </application>
</manifest>